<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berlatih HTML - abdulazizmubarak1@gmail.com</title>
</head>

<body>
    <header>
        <h1>Biodata</h1>
        <table>
            <tbody>
                <tr>
                    <td>Nama : </td>
                    <td>Abdul Aziz Mubarak</td>
                </tr>
                <tr>
                    <td>Asal kota : </td>
                    <td>Makassar</td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td>abdulazizmubarak1@gmail.com</td>
                </tr>
            </tbody>
        </table>

    </header>

    <footer>
        <p style="position: fixed;left: 0;bottom: 0;right: 0;text-align: center;">&Coproduct; Mubarakabaz</p>
    </footer>


</body>

</html>
